body {
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
}

.header {
    width: 100%;
}

.header > h1 {
    alignment: center;
    background: linear-gradient(180deg, #f00000, #f00000 16.67%, #ff8000 16.67%, #ff8000 33.33%, #ffff00 33.33%, #ffff00 50%, #007940 50%, #007940 66.67%, #4040ff 66.67%, #4040ff 83.33%, #a000c0 83.33%, #a000c0) ;
    display: block;
    font-size: 30pt;
    margin: 10%;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.auth-form {
    border: 1px solid gray;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 40%;
}

.auth-form > * {
    font-size: 16pt;
    margin: 0.5rem auto;
    text-align: center;
    width: 50%;
}

.auth-form > input {
    width: 90%;
}