<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make TODO great again!</title>
    <script src="http://code.jquery.com/jquery-git2.js"></script>
    <link href="/tasks.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1>Glad to see you, bro</h1>
    </div>
    <div class="tasks">
        <ul class="tasks-ul">
            {{ range . }}
            <li class="task" id="task_{{ .UUID }}">
                <p class="task-content">{{ .Value }}</p>
                <button class="task-view-button">View</button>
                <button class="task-remove-button">Remove</button>
            </li>
            {{ else }}
            <li class="task">
                <p class="task-text">User haven't got tasks</p>
            </li>
            {{ end }}
        </ul>
        <form id="tasks-add-form" class="tasks-add-form">
            <p>Add task</p>
            <input type="text" name="task_content">
            <button class="task-add-button" type="submit">Add</button>
        </form>
    </div>

    <script src="/tasks.js" rel="script"></script>
</body>
</html>