<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make TODO great again!</title>
    <script src="http://code.jquery.com/jquery-git2.js"></script>
    <link href="/task.css" rel="stylesheet">
</head>
<body>
    <a href="/tasks">Tasks</a>
    <div class="task-name">
        <h1>Task ID is {{ .UUID }}</h1>
    </div>
    <form id="form" class="task-value">
        <p>{{ .Value }}</p>
        <input hidden name="id" type="hidden" value="{{ .UUID }}">
        <input class="is_resolved" name="is_resolved" type="checkbox" {{ if .IsResolved }} checked {{ end }}>
    </form>
    <div class="task-comments">
        <ul class="ul-task-comments">
            {{range .Comments}}
            <li class="li-task-comments">
                <p>{{ .Author }}</p>
                <p>{{ .Value }}</p>
            </li>
            {{else}}
            <li class="li-task-comments">
                <p>This data haven't got comments</p>
            </li>
            {{end}}
        </ul>
    </div>
    <script src="/task.js" rel="script"></script>
</body>
</html>